body {
    font-family: 'Roboto', sans-serif;
}

header {
    border-bottom: 1px solid #cccbcb;
}

footer {
    background-color: #275583;
}

h1 {
    color: #275583;
}

h2 {
    color: #275583;
}

h1, h3 {
    color: #e86069;
}

.menu-items a {
    color: #275583;
}

.h-logo {
    padding-top: 10px;
}

.h-logo a img{
    cursor: pointer;
}

p {
    font-size: 20px;
}