.titulo1 {
    color: #fff;
    font-size: 35px;
}

p {
    font-size: 20px;
}

footer {
    color: #fff;
    padding: 20px 0px;
    font-size: 20px;
    background-color: #0063be;
}

.cursor {
    cursor: pointer;
}

.animation-login {
    width: 70%;
}

.usuario {
    width: 70%;
}

a {
    color: #0063be;
    text-decoration: none;
}

a:hover {
    color: #0063be;
    text-decoration: none;
}

input:checked {
    background-color: #0063be !important;
}

input,
select {
    cursor: pointer;
}
/*estilo que permite mostrar los campos validados con un borde de color rojo*/

.error {
    border: red solid 1px;
}

.btninicio {
    color: #fff;
    background-color: #0063be !important;
    font-size: 20px;
    width: 100%;
}

#forgot-pass {
    font-weight: bold;
    text-align: end;
    font-size: 12px;
}

@media (max-width:575px) {
    .animacion1 /{
        width: 80% !important;
        margin: 0 auto !important;
        display: block !important;
    }
    .animacion2 {
        width: 100% !important;
    }
}