
.banner-index {
    background-image: url("../imgs/index/index1.png");
    height: 100vh; /* Cubre el 100% del alto de la página */
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

.index-font {
    color: #fff;
}

h2 {
    font-size: 25px;
}

h1 {
    font-size: 40px;
}

