
.banner-login {
    background-image: url("../img/login/login1.png");
}

label {
    font-size: 30px;
    font-weight: bolder;
    color: #080808 !important;
}

input {
    width: 300px !important;
}

input::placeholder {
    text-align: center;
    color: rgb(127, 127, 127);
}